#substitles p{
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    top: 25px;
}
.autoplay{}
.h{}
div.slide img:not(.banner){
    width: 300px;
}
.right{
    margin-right: -100px;
}
#conectados h2{
    font-size: 36px;
}